body {
    text-align: center;
    background-color: rgb(215, 212, 201);
    font-family: 標楷體, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

form {
    display: inline-block;
    width: 500px;
    margin: 0 auto;
    background-color: rgb(128, 183, 228);
    border-radius: 6px;
    border: 1px solid black;
}

input {
    text-align: center;
}

button {
    background-color: rgb(205, 219, 126);
    width: 60px;
    height: 30;
    border: none;
    border-radius: 6px;
}